/* 
Draft.css set defaults for text alignment, spacing, and other important features. 
Without it, you may encounter issues with block positioning, alignment, and cursor behavior.
 */
@import '~draft-js/dist/Draft.css';

.editor-root {
  width: 700px;
  background: #fff;
  border: 1px solid #ddd;
  font-family: 'Georgia', serif;
  font-size: 14px;
  padding: 15px;
  margin: 15px auto;
}

.editor {
  border-top: 1px solid #ddd;
  cursor: text;
  font-size: 16px;
  margin-top: 10px;
}

.editor .public-DraftEditorPlaceholder-root,
.editor .public-DraftEditor-content {
  margin: 0 -15px -15px;
  padding: 15px;
}

.editor .public-DraftEditor-content {
  min-height: 100px;
}

.hidePlaceholder .public-DraftEditorPlaceholder-root {
  display: none;
}

.editor .my-header-one {
  color: red;
  font-style: italic;
}

.editor .my-header-three {
  border-left: 5px solid #eee;
  padding: 10px 20px;
}

.controls {
  font-family: 'Helvetica', sans-serif;
  font-size: 14px;
  margin-bottom: 5px;
  user-select: none;
}

.controlButton {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.activeButton {
  color: #5890ff;
}